<!DOCTYPE html>
<html lang="cs">
<head>
	<title>Sreality Scrapy Task</title>
</head>

<style>
    div.flats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    div.flat {
        height: 25%;
        width: 22%;
    }
</style>

<body>
    <h1>Sreality Scrapy Task</h1>
    <h2>Loaded {{flats|length}} flats</h2>
	<div class="flats">
        {% for flat in flats %}

		<div class="flat">
            <img src={{ flat.image_url}}>
			<h2>{{ flat.title }}</h2>
		</div>

        {% endfor %}
	</div>

</body>
</html>